.secondary-button {
  font-family: $open-sans-bold;
  font-size: $font-size-md;
  line-height: 1.38;
  font-weight: 700;
  padding-top: space(3);
  padding-right: 3.75rem;
  padding-bottom: space(3);
  padding-left: 3.75rem;

  &:hover,
  &:active,
  &:focus {
    background-color: $hover-yellow;
    border-color: $hover-yellow;
  }

  @include media-breakpoint-down(md) {
    font-family: $open-sans-bold !important;
    font-size: $font-size-sm !important;
    line-height: 1.42 !important;
    padding-top: space(2);
    padding-right: $button-mobile-padding-x;
    padding-bottom: space(2);
    padding-left: $button-mobile-padding-x;
  }
}
