{% extends 'ui-kit.html' %} {% block content %} {% macro Footer(data)%}
<footer class="footer">
  <div class="container">
    <div class="footer__links">
      <ul>
        {% for link in data.footerLinks %}
        <li class="footer__links-singlelink">
          <a href="{{link.to}}">{{link.label}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer__socialicons">
      <ul>
        {% for icon in data.socialIcons %}
        <li>
          <a
            href="{{icon.to}}"
            class="footer__socialicons-icon"
            target="_blank"
          >
            <img src="{{icon.src}}" />
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer__bodytext wysiwyg">{{data.body|safe}}</div>
  </div>
</footer>
{% endmacro %}

<!-- Uikit footer -->
{{ Footer(components.footer) }} {% endblock %}
